body {
    background-color: #34495e;
    color: #ecf0f1;
    font-family: 'Open Sans', sans-serif;
}

.example-header {
    text-align: center;;
}

.canvas {
    border: 1px solid orange;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
}

.options-block {
    padding: 10px;
}

.hovered-block {
    overflow: hidden;
    padding: 10px;
}

.hovered-node {
    float: left;
    padding: 5px 10px;
    color: white;
    font-family: monospace;
    margin-left: 2px;
}

.hovered-node-remove {
    margin-left: 0;
    cursor: pointer;
    padding: 5px 5px;
    border-left: 1px solid #310027;
}

.hovered-node-remove:hover {
    color: red;
    font-weight: bold;
}

.add-node-block {
    padding: 10px;
}

.add-node-button {

}
